input[type=text] {
    width:50px;
    text-align:center;
}

.home-name, .away-name {
    font-weight:bold;
}

.home-name {
    text-align:right;
}

td, th, legend {
    padding:5px 10px;
}

th, legend {
    background:#999;
    color:#FFF;
    font-weight:bold;
}

fieldset {
    margin-top:20px;
}